# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
test/README
lib/README
include/README
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.pio/build/project.checksum
.travis.yml
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/clockless_esp32.h.orig
.pio/build/esp32doit-devkit-v1/.sconsign27.db.dblite
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/esp32doit-devkit-v1/partitions.bin
.gitignore
.pio/libdeps/esp32doit-devkit-v1/FastLED/.gitignore
.pio/libdeps/esp32doit-devkit-v1/FastLED/bitswap.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/bitswap.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/chipsets.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/color.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/colorpalettes.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/colorpalettes.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/colorutils.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/colorutils.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/component.mk
.pio/libdeps/esp32doit-devkit-v1/FastLED/controller.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/cpp_compat.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/dmx.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastled_config.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastled_delay.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastled_progmem.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/FastLED.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/FastLED.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastpin.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi_bitbang.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi_dma.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi_nop.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi_ref.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi_types.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/fastspi.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/hsv2rgb.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/hsv2rgb.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/keywords.txt
.pio/libdeps/esp32doit-devkit-v1/FastLED/led_sysdefs.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/library.json
.pio/libdeps/esp32doit-devkit-v1/FastLED/library.properties
.pio/libdeps/esp32doit-devkit-v1/FastLED/LICENSE
.pio/libdeps/esp32doit-devkit-v1/FastLED/noise.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/noise.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/pixelset.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/pixeltypes.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/PORTING.md
.pio/libdeps/esp32doit-devkit-v1/FastLED/power_mgt.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/power_mgt.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/README.md
.pio/libdeps/esp32doit-devkit-v1/FastLED/release_notes.md
.pio/libdeps/esp32doit-devkit-v1/FastLED/wiring.cpp
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/AnalogOutput/AnalogOutput.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Blink/Blink.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/ColorPalette/ColorPalette.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/ColorTemperature/ColorTemperature.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Cylon/Cylon.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/DemoReel100/DemoReel100.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Fire2012/Fire2012.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Fire2012WithPalette/Fire2012WithPalette.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/FirstLight/FirstLight.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/ArrayOfLedArrays/ArrayOfLedArrays.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/MirroringSample/MirroringSample.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/MultiArrays/MultiArrays.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/MultipleStripsInOneArray/MultipleStripsInOneArray.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/OctoWS2811Demo/OctoWS2811Demo.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Multiple/ParallelOutputDemo/ParallelOutputDemo.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Noise/Noise.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/NoisePlayground/NoisePlayground.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/NoisePlusPalette/NoisePlusPalette.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Pacifica/Pacifica.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Pintest/Pintest.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Ports/PJRCSpectrumAnalyzer/PJRCSpectrumAnalyzer.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/Pride2015/Pride2015.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/RGBCalibrate/RGBCalibrate.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/RGBSetDemo/RGBSetDemo.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/SmartMatrix/SmartMatrix.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/TwinkleFox/TwinkleFox.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/examples/XYMatrix/XYMatrix.ino
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion/math8.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion/random8.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion/scale8.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/lib8tion/trig8.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/common/m0clockless.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d21/clockless_arm_d21.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d21/fastled_arm_d21.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d21/fastpin_arm_d21.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d21/led_sysdefs_arm_d21.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d51/clockless_arm_d51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d51/fastled_arm_d51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d51/fastpin_arm_d51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d51/led_sysdefs_arm_d51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/d51/README.txt
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/clockless_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/clockless_block_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/fastled_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/fastpin_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/fastspi_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/led_sysdefs_arm_k20.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/octows2811_controller.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/smartmatrix_t3.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k20/ws2812serial_controller.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/clockless_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/clockless_block_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/fastled_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/fastpin_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/fastspi_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/k66/led_sysdefs_arm_k66.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/kl26/clockless_arm_kl26.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/kl26/fastled_arm_kl26.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/kl26/fastpin_arm_kl26.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/kl26/fastspi_arm_kl26.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/kl26/led_sysdefs_arm_kl26.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/block_clockless_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/clockless_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/fastled_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/fastpin_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/fastspi_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/mxrt1062/led_sysdefs_arm_mxrt1062.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf51/clockless_arm_nrf51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf51/fastled_arm_nrf51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf51/fastpin_arm_nrf51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf51/fastspi_arm_nrf51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf51/led_sysdefs_arm_nrf51.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/arbiter_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/clockless_arm_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/fastled_arm_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/fastpin_arm_nrf52_variants.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/fastpin_arm_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/fastspi_arm_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/nrf52/led_sysdefs_arm_nrf52.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/clockless_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/clockless_block_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/fastled_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/fastpin_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/fastspi_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/sam/led_sysdefs_arm_sam.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/stm32/clockless_arm_stm32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/stm32/cm3_regs.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/stm32/fastled_arm_stm32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/stm32/fastpin_arm_stm32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/arm/stm32/led_sysdefs_arm_stm32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/avr/clockless_trinket.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/avr/fastled_avr.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/avr/fastpin_avr.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/avr/fastspi_avr.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/avr/led_sysdefs_avr.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/clockless_block_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/clockless_i2s_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/clockless_rmt_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/fastled_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/fastpin_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/32/led_sysdefs_esp32.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/8266/clockless_block_esp8266.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/8266/clockless_esp8266.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/8266/fastled_esp8266.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/8266/fastpin_esp8266.h
.pio/libdeps/esp32doit-devkit-v1/FastLED/platforms/esp/8266/led_sysdefs_esp8266.h
.pio/build/esp32doit-devkit-v1/longcmd-45be93c710dee2189c81a36d2c38e68d
.pio/build/esp32doit-devkit-v1/longcmd-abd9e841bfe4bfc1399a13bc0c3c62d7
.pio/build/esp32doit-devkit-v1/longcmd-31f88eb73a214499d7cccdd8f8cf6bb1
.pio/build/esp32doit-devkit-v1/longcmd-ad6051c0adb3798af59c9dd419a05635
.pio/build/esp32doit-devkit-v1/longcmd-be9b771bd2712f44955457c23dcd5cac
.pio/build/esp32doit-devkit-v1/longcmd-dd69ce6f615d7ccaa6690730adeaafec
.pio/build/esp32doit-devkit-v1/longcmd-eb14bec937877d691a63e7a79866b00b
.pio/build/esp32doit-devkit-v1/longcmd-eeff72f70814c7c3dbc16b4adffd5162
.pio/build/esp32doit-devkit-v1/longcmd-f0d971c915fbfdcb02cc9fe45fda789e
.pio/build/esp32doit-devkit-v1/longcmd-f3f0880f209c2469894189d75034546b
.pio/build/esp32doit-devkit-v1/longcmd-f6ba59415fa6d799d0fb4609275ed548
